:root {
  --main-color: rgb(97, 174, 157);

  --main-background-color: rgb(35, 38, 41);

  --main-text-color: rgb(200, 200, 200);

  --containers-background-color: rgb(60, 64, 68);

  --items-background-color: rgb(46, 50, 54);

  --items-background-color-hover: rgb(56, 61, 65);

  --main-border-color: rgb(62, 62, 62);

  --nav-attributes-color: rgb(35, 38, 41);

}

::-webkit-scrollbar {
  background-color: unset;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--items-background-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--items-background-color-hover);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

header {
  background-color: var(--main-color);
  height: 70px;
}

header h1 {
  color: rgb(23, 23, 23);
  font-size: 40px;
}

main {
  display: grid;
  gap: 20px;
  padding: 40px;
}

.thumbnail div > div.pixel {
  height: 15px;
  width: 15px;
}

.container {
  background-color: var(--containers-background-color);
  border: 1px solid var(--main-border-color);
  padding: 10px;
  border-radius: 5px;
  max-width: 100vw;
  min-width: 200px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav {
  border-bottom: 1px solid var(--nav-attributes-color);
  padding: 0 20px;
  margin: 0 20px;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: start;
  list-style: none;
}

.nav-list hr {
  width: 1px;
  height: 25px;
  border: 1px solid var(--nav-attributes-color);
}

.nav-list li {
  padding: 10px 5px;
  transition: 7ms;
}

.nav-list li:hover {
  color: rgb(21, 21, 21);
}

.buttons {
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-weight: 900;
  flex: 1 1 auto;
  height: 30px;
  min-width: 80px;
  max-width: 130px;
  padding: 0 10px;
  transition: 5ms;
}

.long-button {
  background-color: unset;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 250px;
  position: relative;
  transition: 8ms;
  width: 30px;
}

.rigthArrow::after, .rigthArrow::before{
  border-right: 2px solid var(--main-text-color);
  content: '';
  display: block;
  height: 40px;
  width: 1px;
}

.rigthArrow::after {
  transform: rotate(25deg);
}

.rigthArrow::before {
  transform: rotate(155deg) translateX();
}

.long-button:hover {
  background-color: rgb(97, 101, 105);
}

.options {
  gap: 5px;
}

.danger-button {
  background-color: red;
  border: 1px solid rgb(221, 0, 0);
}

.danger-button:hover {
  background-color: rgb(255, 70, 70);
}

.success-button {
  background-color: rgb(0, 205, 0);
  border: 1px solid rgb(0, 200, 0);
}

.success-button:hover {
  background-color: rgb(76, 225, 76);
}

.primary-button {
  background-color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 94, 255);
}

.primary-button:hover {
  background-color: rgb(0, 149, 255);
}

.pixel, .color {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

#pixel-board .pixel, .color, .color-input {
  cursor: pointer;
}

.color {
  border-radius: 5px;
  transition: 5ms;
}


.selected {
  box-shadow: 2px 2px 8px rgb(26, 26, 26);
  height: 41px;
  width: 41px;
}

.preview {
  background-color: var(--items-background-color);
  box-shadow: 2px 2px 5px rgb(35, 35, 35);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 5px;
  flex: 1 1 200px;
  flex-flow: column;
  gap: 10px;
  max-height: 260px;
  max-width: 300px;
  min-height: 250px;
  min-width: 200px;
  padding: 10px;
  transition: 5ms;
}

.preview:hover {
  background-color: var(--items-background-color-hover);
}

#color-palette {
  background-color: rgb(127, 128, 129);
  border-radius: 10px;
  border: 1px solid rgb(73, 73, 73);
  gap: 4px;
  padding: 10px;
}

#box-new-color {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  position: relative;
}

#new-color {
  border: none;
  border-radius: 10px;
  height: 100%;
  opacity: 0;
  width: 100%;
}

#palette-container {
  flex-flow: row wrap;
  gap: 20px;
}

#options {
  gap: 10px;
}

#boards-list {
  flex: 1 800px;
  gap: 10px;
  justify-content: center;
  overflow-x: auto;
  max-width: 95%;
  padding: 15px;
}

/* #library-container {
} */

@media screen and ( min-width: 1000px ) {
  .container {
    padding: 20px;
  }

  #boards-list {
    justify-content: start;
  }
}