:root {
  --main-color: rgb(97, 174, 157);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(196, 196, 196);
  color: rgb(35, 35, 35);
}

header {
  height: 70px;
  background-color: var(--main-color);
}

.container {
  margin: 20px auto;
  border: 1px solid rgb(180, 180, 180);
  padding: 10px;
  border-radius: 10px;
  max-width: 95%;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  height: 30px;
  min-width: 100px;
  max-width: 150px;
  border-radius: 8px;
  font-weight: 900;

}

#clear-board {
  background-color: red;
  border: 1px solid rgb(221, 0, 0);
  color: white;
}

.pixel, .color {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.color {
  border-radius: 10px;
}

.selected {
  width: 41px;
  height: 41px;
  box-shadow: 2px 2px 8px rgb(26, 26, 26);
}

#color-palette {
  gap: 4px;
}

#box-new-color {
  background-color: black;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

#new-color {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  opacity: 0;
}

#palette-container {
  flex-flow: row wrap;
  gap: 20px;
}

#pixel-board {
}